@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #21140d;
  color: seashell;
}

/* Header */

.header{
  position: fixed;
  background-color: #21140d;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}
.nav-link{
  text-decoration: none;
  color: seashell;
  margin-left: 40px;
  cursor: pointer;
}
.nav-link:hover{
   color:aquamarine;
}
.logo{
  font-family: "Lobster", sans-serif;
  margin-right: auto;
  font-size: 30px;
}

/* Beans picture section */

.beans-picture{
  padding-top: 80px;
}
.background-picture{
  background-image: url('images/beans.jpg');
  height: 600px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan{
  padding: 20px;
  background-color: #21140d;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  border: 1px solid aquamarine;
  margin: 0 10px;
}

/* Product section */

#product{
  padding: 80px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#product-container{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.product-card{
  margin: 0 auto;
  width: 360px;
}
h3{
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  margin: 20px 0 10px 0;
  color:aquamarine;
}

/* Our Locations Section */

#location{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 60px;
}
.cups{
  background-image: url('images/cups.jpg');
  height: 600px;
  max-width: 1200px;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
h2{
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
  z-index: 1;
}
.location-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}
.card{
  background-color: #21140d;
  width: 260px;
  text-align: center;
  padding-bottom: 20px;
  line-height: 30px;
}

/* Footer */

footer{
  background-color: #21140d;
  text-align: center;
  padding: 60px 0 30px 0;
}
footer h4{
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

@media all and (max-width: 1180px){
  .background-picture{
  background-image: url('images/beans.jpg');
  background-position: center;
  background-size: cover;
}
  footer p{
    color: seashell;
    text-decoration: none;
  }
}

@media all and (max-width: 768px){
  .background-picture {
    background-image: url('images/beans.jpg');
    background-position: center;
    background-size: cover;
  }
  .location-cards{
    column-gap: 20px;
    row-gap: 20px;
  }
  .card{
    line-height: 24px;
  }
}

@media all and (max-width: 500px){
  nav{
    padding: 20px 10px;
  }
  .nav-link{
    margin-left: 20px;
  }
  .logo{
    font-size: 24px;
  }
}